.itemWrapper {
    width: 320px;
    height: 320px;
}
    .itemWrapper .imgContainer{
        width: 100%;
        height: 100%;
    }
    .itemWrapper .textContainer{
        overflow: hidden;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .itemWrapper .textContainer .title{
        font-size: var(--fz-s);
        font-weight: bold;
    }
    .itemWrapper .textContainer .title h2{
        display: block;
        color: #fff;
    }

    .itemWrapper .textContainer .dateName{
        color: var(--color-slate);
    }

    .itemWrapper .filter{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.863) 0%, rgba(8, 8, 8, 0.479) 30%, rgba(255, 207, 16, 0.144) 100%);
        top: 0;
        left: 0;
        border-radius: var(--border-radius-small);
        transition: all 0.5s ease-in-out;
    }