#BlogContentMain .inner{
    width: 100%;
    text-align: center;
    flex-direction: column;
    padding-bottom: 0;
}

#BlogHtml{
    text-align: left;
    padding: var(--pad-5x) 0;
    font-size: var(--fz-s);
    max-width: 940px;
}
    #BlogHtml img{
        display: block;
        max-width: 100%;
        width: auto;
        max-height: 70vh;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--pad-2x);
        margin-top: var(--pad-2x);

        border-radius: var(--border-radius);
    }
    #BlogHtml p{
        padding: var(--pad-1x) 0;
    }

iframe{
    position: relative;
    width: 100%;
    height: 600px;
    padding-bottom: var(--pad-4x);
}

#BlogContentMain .smallerImg{width: 80%;}
#BlogContentMain .smallImg{width: 70%;}

#BlogContent .title{
    margin-bottom: var(--pad-2x);
}

.author{
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: var(--pad-2x);
    background-color: var(--color-black);
    border-radius: var(--border-radius);
    padding: var(--pad-2x);
    margin-bottom: var(--pad-5x);
}
    .author .avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        min-width: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: var(--pad-2x);
    }
    .author img{
        max-height: 100%;
        padding: 0 !important;
    }

    .author h5{
        font-size: var(--fz-s);
        font-weight: 700;
        color: var(--color-main);
    }
    

@media only screen and (max-width: 420px) {
    .authorData{
        width: 100%;
        text-align: center;
    }
}