#BlogContentMain .inner{
    width: 100%;
    text-align: center;
}

#BlogHtml{
    text-align: left;
    padding: var(--pad-4x) 0;
    font-size: var(--fz-s);
    width: 100%;
}
    #BlogHtml img{
        max-width: 100%;
        height: auto;
    }

iframe{
    position: relative;
    width: 100%;
    height: 600px;
    padding-bottom: var(--pad-4x);
}

#BlogContentMain img{
    padding: var(--pad-4x) 0;
}

#BlogContentMain .smallerImg{width: 80%;}
#BlogContentMain .smallImg{width: 70%;}

#BlogContent .title{
    margin-bottom: var(--pad-2x);
}