:root {
  --border-radius: 12px;
  --border-radius-small: 6px;

  --color-main: rgba(255,206,16,1);
  --color-black: rgba(28,28,28,1);
  --color-text: rgba(255,255,255,1);

  --color-slate: #ccd6f6; /*#ccd6f6 */

  --font-main: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-roboto: "Roboto","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;

  --fz-sm: 12px;
  --fz-title: 64px;
  --fz-s: 16px;
  --fz-m: 18px;
  --fz-md: 22px;
  --fz-l: 32px;
  --fz-xl: 48px;

  --pad-1x: 10px;
  --pad-2x: 20px;
  --pad-3x: 30px;
  --pad-4x: 40px;
  --pad-5x: 50px;

  --transition: all 0.2s ease;

  --max-width: 1140px;
  --underline-translate: translate3d(0,0,0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth !important;
  scroll-padding-top: calc(50vh - 80px);
}

html,
body {
  max-width: 100vw;
  overflow: overlay;
  overflow-x: hidden;
  background-color: #121212;
}

main{
  min-height: 100vh;
}

a{
  cursor: pointer;
  text-decoration: none;
}

.aeffect {
  display: inline-block;
  position: relative;
  color: var(--color-slate);
}
  .aeffect::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-main);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .aeffect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
    .fixBug::after{width: calc(100% - 12px);}

.flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgclip{
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.postContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--pad-4x);
  padding: var(--pad-2x) 0;
  font-size: var(--fz-sm);
  color: var(--color-main);
}
  .itemWrapper{
    position: relative;
    height: fit-content;
    width: 250px;
  }
    .itemInner{
      height: 100%;
      width: 100%;
    }
      .imgContainer{
        width: 250px;
        height: 250px;
        border-radius: var(--border-radius);
        overflow: hidden;
      }
        .imgContainer img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      .dateName{
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: var(--color-slate);
        opacity: 0.8;
        padding: var(--pad-1x);
      }
      .postContainer h2{
        color: var(--color-slate);
         transition: all .5s ease;
         padding: 0 var(--pad-1x);
         text-align: center;
        }
      .itemWrapper:hover h2 {color: var(--color-main)}

.centerText{text-align: center;}
.rightText{text-align: right;}

::-webkit-scrollbar{
  width: 14px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 5px solid rgba(0, 0, 0, 0);
  background-color: transparent;
  border-radius: 10px;
}
