section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    font-family: var(--font-main);
    font-size: var(--fz-md);
    padding: 0 20px;
}

#Hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #HeroContainer{
        position: absolute;
        left: 60%;
        height: 40%;
    }
        #HeroTitle{
            position: relative;
            display: flex;
            flex-direction: row;
            z-index: 1;
            font-size: var(--fz-title);
            font-weight: 700;
            text-align: center;
            margin-bottom: var(--pad-5x);
        }
            #HeroTitle svg{
                color: var(--color-black);
                width: 70%;
                height: 70%;
            }
        .heroText{
            display: flex;
            gap: 10px;
        }

#HeroNav{
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    letter-spacing: 12px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background: var(--color-main);
}
.border{
    border: solid 5px var(--color-black);
}

.background{
    position: relative;
    background: var(--color-black);
}

.tagContainer{
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fz-s);
    font-weight: 600;
    font-family: var(--font-roboto);
    gap: 10px;
    padding: 20px 0;
    color: white;
}
    .tagContainer div{
        cursor: pointer;
        border: solid 1px var(--color-black);
        padding: var(--pad-1x) var(--pad-2x);
        background: var(--color-black);
        transition: all 0.2s ease;
    }
    .tagContainer div.active{ border: solid 1px var(--color-main); color: var(--color-main); }
    .tagContainer div:hover{border: solid 1px var(--color-main); }

.title{
    font-size: var(--fz-l);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 700;
    margin-bottom: var(--pad-5x);
    color: var(--color-main);
}

.title.large{
    font-size: var(--fz-xl);
    margin-bottom: var(--pad-6x);
}

.container{ padding-bottom: 120px;}

.fancyTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
    .fancyTitle h5{
        color: var(--color-main);
        font-size: var(--fz-m);
        font-weight: 700;
        letter-spacing: 5px;
    }
    .fancyTitle h2{
        font-size: 2rem;
        font-weight: 700;
        margin: var(--pad-3x) 0;
    }
    .fancyTitle p{
        font-size: var(--fz-s);
        font-weight: 400;
        padding-bottom: var(--pad-2x);
    }

.textContent{font-size: var(--fz-m); width: 70%;}

.card{
    position: relative;
    margin: var(--pad-1x);
    padding: var(--pad-2x);
    padding-bottom: var(--pad-3x);
    align-self: stretch;
    background-color: #121212;
    border-radius: var(--border-radius);
}
    .cardIcon{
        height: 50px;
        width: 50px;
        border-radius: var(--border-radius);
        background-color: var(--color-main);
        color: var(--color-black);
        padding: var(--pad-1x);
    }
    .card h5{
        font-size: var(--fz-md);
        font-weight: 700;
        margin: var(--pad-1x) 0;
    }
    .card p{
        font-size: var(--fz-m);
    }

.textCenter{text-align: center;}

.inner{
    max-width: var(--max-width);
    padding: var(--pad-5x) 0;
    padding-top: 100px;
}

#Contact{
    flex-direction: column;
    padding-bottom: 0;
}
    #Contact p{
        width: 70%;
    }
    #Contact button{
        padding: var(--pad-2x) var(--pad-4x);
        background-color: transparent;
        border: solid 1px var(--color-main);
        color: var(--color-main);
        font-size: var(--fz-s);
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 2px;
        border-radius: var(--border-radius-small);
        transition: var(--transition);
    }
    #Contact button:hover{
        background-color: var(--color-main);
        color: var(--color-black);
        box-shadow: 0 0 10px 0 var(--color-main);
    }

#PageNumeration{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    margin-top: var(--pad-1x);
    margin-bottom: var(--pad-5x);
}
    #PageNumeration div{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: solid 1px var(--color-black);
        border-radius: 50%;
        background: var(--color-black);
        width: 32px;
        height: 32px;
        font-size: var(--fz-s);
        transition: all 0.2s ease;
    }
    #PageNumeration div.active{
        border: solid 1px var(--color-main); 
        color: var(--color-main); 
        font-size: var(--fz-md);
        width: 50px;
        height: 50px;
    }
    #PageNumeration .invisButton{
        
        pointer-events: none;
        opacity: 0;
        width: 32px;
        height: 32px;
    }
    #PageNumeration div:hover{border: solid 1px var(--color-main); }

@media only screen and (max-width: 1000px) {
    #cardContainer{flex-direction: column;}
    #Hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #HeroContainer{
        position: relative;
        left: 0;
        top: -40px;
        height: auto;
    }
    #PageNumeration{margin-bottom: var(--pad-2x);}
}

/* 404 page */

#NotFound {
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    font-family: var(--font-main);
    font-weight: 900;
    color: transparent;
}

#NotFound p{
    font-size: 44px;
    padding-bottom: var(--pad-1x);
    animation: asdd 3s linear infinite;
}

#NotFound .frame {
    z-index: 3;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* FF3.6+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00000000', endColorstr = '#e6000000', GradientType = 1); /* IE6-9 fallback on horizontal gradient */
}

#NotFoundBtn{
    z-index: 4;
    font-size: var(--fz-title);
    width: 240px;
    height: 80px;
    color: transparent;
    text-shadow: 0 0 30px rgba(0, 0, 0, .5);
    animation: asdd 3s linear infinite;
}

#NotFound .frame div {
    position: absolute;
    left: 0;
    top: -20%;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, .12);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    animation: asd 12s linear infinite;
}

#NotFound .frame div:nth-child(1) {
    animation-delay: 0;
}

#NotFound .frame div:nth-child(2) {
    animation-delay: 4s;
}

#NotFound .frame div:nth-child(3) {
    animation-delay: 8s;
}

@keyframes asd {
    0% {
        top: -20%;
    }
    100% {
        top: 100%;
    }
}

#NotFound h1 {
    z-index: 3;
    font: bold 200px/200px Arial, sans-serif;
    width: 100%;
    height: 200px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 30px rgba(0, 0, 0, .5);
    animation: asdd 3s linear infinite;
}

#Nukesnshit{
    font-family: var(--font-main);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: -30px;
    top: 0;
    color: white;
    width: calc(100vw + 60px);
    height: 100vh;
    z-index: 2;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
}
#Nukesnshit p{
    margin-top: var(--pad-1x);
    color: #929292;
}
#ThreeJsContainer{
    height: 100vh;
    width: 100vw;
}
#ThreeJsCanvas{position: absolute;}

@keyframes asdd {
    0% {
        text-shadow: 0 0 8px rgba(0, 0, 0, .6);
    }
    33% {
        text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    }
    66% {
        text-shadow: 0 0 6px rgba(0, 0, 0, .3);
    }
    100% {
        text-shadow: 0 0 8px rgba(0, 0, 0, .6);
    }
}
@keyframes asddMainColor {
    0% {
        text-shadow: 0 0 8px rgba(0, 0, 0, .6);
    }
    33% {
        text-shadow: 0 0 3px rgba(255,206,16,.5);
    }
    66% {
        text-shadow: 0 0 6px rgba(0, 0, 0, .3);
    }
    100% {
        text-shadow: 0 0 8px rgba(0, 0, 0, .6);
    }
}

@media only screen and (max-width: 800px) {
    #Nukesnshit{
        left: 0;
        width: 100vw;
        height: calc(100vh - 100px);
    }
    #ThreeJsContainer{
        height: calc(100vh - 100px);
    }
}

@media only screen and (max-width: 500px) {
    .inner{padding-bottom: var(--pad-2x);}
    .heroText{
        font-size: calc(var(--fz-title) - 20px);
        display: flex;
        gap: 10px;
    }
    #Contact p{width: 100%;}
    .container {padding-bottom: 100px;}
    #Contact {padding-bottom: 100px;}
}