section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    font-family: var(--font-main);
    font-size: var(--fz-md);
    padding: 0 20px;
}

#Hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #HeroContainer{
        position: absolute;
        left: 60%;
        height: 40%;
    }
        #HeroTitle{
            position: relative;
            display: flex;
            flex-direction: row;
            z-index: 1;
            font-size: var(--fz-title);
            font-weight: 700;
            text-align: center;
            margin-bottom: var(--pad-5x);
        }
            #HeroTitle svg{
                color: var(--color-black);
                width: 70%;
                height: 70%;
            }
        .heroText{
            display: flex;
            gap: 10px;
        }

#HeroNav{
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    letter-spacing: 12px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background: var(--color-main);
}
.border{
    border: solid 5px var(--color-black);
}

.background{
    position: relative;
    background: var(--color-black);
}

.tagContainer{
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fz-s);
    font-family: var(--font-roboto);
    gap: 10px;
    padding: 20px 0;
    color: var(--color-slate);
}
    .tagContainer div{
        cursor: pointer;
        border: solid 1px var(--color-black);
        padding: var(--pad-1x) var(--pad-2x);
        background: var(--color-black);
        transition: all 0.2s ease;
    }
    .tagContainer div.active{ border: solid 1px var(--color-main); color: var(--color-main); }
    .tagContainer div:hover{border: solid 1px var(--color-main); }

.title{
    font-size: var(--fz-l);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 700;
    margin-bottom: var(--pad-5x);
    color: var(--color-main);
}

.container{ padding-bottom: 120px;}

.fancyTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .fancyTitle h5{
        color: var(--color-main);
        font-size: var(--fz-m);
        font-weight: 700;
        letter-spacing: 5px;
    }
    .fancyTitle h2{
        font-size: 2rem;
        margin: var(--pad-3x) 0;
    }

.card{
    margin: var(--pad-1x);
    padding: var(--pad-2x);
    padding-bottom: var(--pad-3x);
    align-self: stretch;
    background-color: #121212;
    border-radius: var(--border-radius);
}
    .cardIcon{
        height: 50px;
        width: 50px;
        border-radius: var(--border-radius);
        background-color: var(--color-main);
        color: var(--color-black);
        padding: var(--pad-1x);
    }
    .card h5{
        font-size: var(--fz-md);
        font-weight: 700;
        margin: var(--pad-1x) 0;
    }
    .card p{
        font-size: var(--fz-m);
    }

.textCenter{text-align: center;}

.inner{
    max-width: var(--max-width);
    padding: 100px 0;
}

#Contact{
    flex-direction: column;
    padding-bottom: 0;
}
    #Contact p{
        width: 70%;
    }
    #Contact button{
        margin: var(--pad-4x) 0;
        padding: var(--pad-2x) var(--pad-4x);
        background-color: transparent;
        border: solid 1px var(--color-main);
        color: var(--color-main);
        font-size: var(--fz-s);
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 2px;
        border-radius: var(--border-radius-small);
        transition: var(--transition);
    }
    #Contact button:hover{
        background-color: var(--color-main);
        color: var(--color-black);
        box-shadow: 0 0 10px 0 var(--color-main);
    }


@media only screen and (max-width: 1000px) {
    #cardContainer{flex-direction: column;}
    #Hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #HeroContainer{
        position: relative;
        left: 0;
        top: -40px;
        height: auto;
    }
}

@media only screen and (max-width: 500px) {
    .inner{
        padding-bottom: var(--pad-2x);
    }
    .heroText{
        font-size: calc(var(--fz-title) - 20px);
        display: flex;
        gap: 10px;
    }
    #Contact p{
        width: 100%;
    }

}