#itemContainer .textContainer{
    padding: var(--pad-3x) 0;
}

#itemContainer .itemPrice{
    position: absolute;
    right: 0;
    font-size: var(--fz-md);
    background-color: var(--color-main);
    color: var(--color-black);
    margin: var(--pad-1x);
    padding: 6px var(--pad-1x);
    font-family: monospace;
    border-radius: var(--border-radius-small);
}
    #itemContainer h2{padding: 0 !important;}

/* Item Page */
#ItemSection{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    min-height: fit-content;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: var(--pad-4x);
}

#ItemButtons{
    display: flex;
    flex-direction: column;
    padding-top: var(--pad-2x);
    gap: var(--pad-1x);
    justify-content: flex-end;
    height: 100%;
}
    #ItemButtons button{
        font-weight: 600;
        font-size: var(--fz-m);
        color: var(--color-main);
        border: solid 1px var(--color-main);
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        padding: 12px;
        transition: box-shadow .4s ease;
    }
    #ItemButtons button:hover{
        box-shadow: rgba(255,206,16, 0.12) 0px 2px 4px 0px, rgba(255,206,16, 0.32) 0px 2px 16px 0px;
    }
    #ContactBtn{
        color: var(--color-black) !important;
        background-color: var(--color-main) !important;
    }
    #ItemButtons .aeffect{ width: fit-content; align-self: flex-end; }


#imgFrame{
    max-width: 62%;
    display: flex;
    flex-direction: column-reverse;
}
    .swiper-zoom-container{
        width: 100%;
        height: 70vh;
        min-height: 400px;
    }
    .swiper-img{
        max-width: 100%;
        max-height: 100%;
        height: fit-content;
        object-fit: cover;
    }
    .imgSwiper2{
        max-width: 100%;
    }
    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: var(--pad-1x)0 ;
        padding: 0 var(--pad-1x);
        width: 100% !important;
        min-width: 100% !important;
    }
    .imgSwiper2 .swiper-slide {
        height: 58px !important;
        min-width: unset !important;
        width: fit-content !important;
        padding: 1px;
        opacity: 0.6;
    }
    .imgSwiper2 .swiper-slide-thumb-active {
        padding: 0px;
        border: solid 1px var(--color-main);
        opacity: 1;
    }

#ItemParams{
    display: flex;
    flex-direction: column;
    padding-left: var(--pad-3x);
    width: 40%;
    align-self: stretch;
}
    #ItemTitle{
        font-size: var(--fz-xl);
        font-weight: 600;
        margin-bottom: var(--pad-1x);
    }
    #ItemQuantity{
        font-size: var(--fz-s);
        font-weight: 400;
        margin-bottom: var(--pad-1x);
    }
    #ItemPrice{
        font-size: var(--fz-md);
        font-weight: 600;
        margin-bottom: var(--pad-1x);
    }
    #ItemDescription{ font-size: var(--fz-m); }
        #ItemDescription ul{ padding-left: var(--pad-2x);}
        #ItemDescription p{padding: var(--pad-1x) 0;}
        #ItemDescription a {
            display: inline-block;
            position: relative;
            color: var(--color-main);
          }
            #ItemDescription a::after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: var(--color-main);
              transform-origin: bottom right;
              transition: transform 0.25s ease-out;
            }
            #ItemDescription a:hover::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }



.line{
    width: 100%;
    height: 1px;
    background-color: var(--color-main);
    margin: var(--pad-1x) 0;
}

.itemWrapper {opacity: 0; pointer-events: none;}
.itemAnim {animation: fade-down-unscuff 0.4s ease forwards;}

@keyframes fade-down-unscuff {
    0% {
        pointer-events: none;
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0);
    }
}
/* mobile sizing */

@media only screen and (max-width: 1300px) {
    #ItemSection{ padding-left: 20px; padding-right: 20px; }
}

@media only screen and (max-width: 1040px) {
    #ItemSection{ flex-direction: column; padding-top: 80px;}
    #ItemParams{ width: 100%; padding-left: 0; }
    #imgFrame{ width: 100%; max-width: 100%; margin-bottom: var(--pad-1x);}
    .swiper-zoom-container{max-height: 360px;}
}

@media only screen and (max-width: 580px) {
    .postContainer{
        gap: var(--pad-2x);
    }
    .itemWrapper{
        position: relative;
        display: flex;
        width: calc(50% - 10px);
    }
    .itemInner .imgContainer{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        padding: 0;
    }
    #itemContainer .itemPrice{
        font-size: var(--fz-m);
        padding: 4px 8px;
    }
    #itemContainer h2{
        font-size: var(--fz-m);
        font-weight: 600;
    }
}

